@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Jersey+10&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap";


.page-item {
  .page-link.active {
    background-color: #343434;
    border-color: #272727;
    color: #ffffff;
  }

  .page-link {
    color: #000000; // Màu chữ của các liên kết phân trang

    &:hover {
      background-color: #464646; // Màu nền khi hover
      border-color: #ffffff; // Màu viền khi hover
      color: #d5d5d5;
    }
  }
}

.form-check-input:checked {
  background-color: #3d3d3d;
  border-color: #959595;
}

