doctype html
html
    head
        title #{pageTitle}
        link(rel="stylesheet", href="/css/style.css")

    body
        include ../partials/header

        block main

        include ../partials/footer

        script(src="/js/script.js")
