header.header
    .container
        .row.align-items-center
            .col-3
                .inner-logo
                    a(href="/")
                        img(src="/images/Logo.jpg", alt="Logo")
            .col-9
                .inner-menu
                    ul
                        li
                            a(href='/') Dashboard
                        li
                            a(href='/products') Products