include ../../client/mixins/category-products

header.header
    .container
        .row
            .col-6
                .inner-logo
                    a(href="/")
                        img(src="/images/Logo.jpg", alt="Logo")
            .col-6
                .inner-menu
                    nav.primary-navigation(role='navigation')
                        ul(style="margin: 0px;")
                            li
                                a(href='/') Dashboard
                            li
                                a(href='/products') Products
                                    +category-products(category)

                            //ul
                            //    li
                            //        a(href='/') Dashboard
                            //        ul
                            //            li
                            //                a(href='/') Dashboard
                            //            li
                            //                a(href='/') Dashboard
                            //
                            //    li
                            //        a(href='/') Dashboard
                            //    li
                            //        a(href='/') Dashboard