@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Jersey+10&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.header {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.header .inner-logo img {
    width: 80px;
    max-height: 80px;
    max-width: 100%;
}

.header .inner-menu > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.header .inner-menu > ul > li {
    margin-left: 50px;

}

.inner-menu ul li a {
    font-family: "Briem Hand", serif;
    font-size: 18px;
    color: #4e4e4e;
    font-weight: bold;
    text-decoration: none;
}

.inner-menu ul li a:hover {
    color: #9d9d9d;
    font-weight: bold;
    text-decoration: none;
}

.footer {
    background: #ddd;
    color: #000000;
    text-align: center;
    padding: 10px;
}

.box-head .inner-tag {
    padding: 20px 20px 20px 20px;
    font-size: 18px;
    font-family: "Briem Hand", serif;
    font-style: italic;
}

.box-head .inner-title {
    font-size: 50px;
    color: #4d4d4d;
    font-family: "Jersey 10", serif;
    font-style: italic;
    margin-bottom: 30px;
}

.product-item {
    border: 1px solid #b5b5b5;
    max-width: 300px;
    box-sizing: border-box;
    border-radius: 4px;
    overflow: hidden;
}

.product-item .inner-image {
    width: 100%;
    aspect-ratio: 3/3;
    border-bottom: 1px solid #595959;
}

.product-item .inner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-item .inner-content {
    padding: 10px;
}

.product-item .inner-content .inner-title {
    font-family: "Briem Hand", serif;
    font-size: 25px;
    color: #242424;
    font-weight: 700;
}

.product-item .inner-content .inner-author {
    font-size: 15px;
    padding-bottom: 6px;
    font-family: "Briem Hand", serif;
    font-style: italic;
    color: #595959;
}

.product-item .inner-content .inner-price {
    font-size: 18px;
    font-family: "Roboto", serif;
    font-weight: bold;
    color: #181818;
}



