mixin flash-message-success(time)
    if (messages.success)
        .message.success
            .alert.alert-dismissible(class='alert-info', role='alert' show-alert data-time=time)
                div #{messages.success}
                button.btn-close(type='button', data-bs-dismiss='alert', aria-label='Close')


mixin flash-message-error(time)
    if (messages.error)
        .message.error
            .alert.alert-dismissible(class='alert-danger', role='alert' show-alert data-time=time)
                div #{messages.error}
                button.btn-close(type='button', data-bs-dismiss='alert', aria-label='Close')
