mixin formatDateTime(time)
    span #{moment(time, 'ddd MMM DD YYYY HH:mm:ss [GMT]Z').format('DD/MM/YYYY, HH:mm:ss')}

mixin formatDate(time)
    span #{moment(time, 'ddd MMM DD YYYY HH:mm:ss [GMT]Z').format('DD/MM/YYYY')}

mixin formatTime(time)
    span #{moment(time, 'ddd MMM DD YYYY HH:mm:ss [GMT]Z').format('HH:mm:ss')}

