mixin sort()
    .card.mb-3(font-setting)
        .card-header Sort By
        .card-body
            .row
                .col-3
                    div(sort)
                        select.form-select(name="sort" sort-select)
                            option(value='position-desc') Position (High - Low)
                            option(value='position-asc') Position (Low - High)
                            option(value='price-desc') Price (High - Low)
                            option(value='price-asc') Price (Low - High)
                            option(value='title-desc') Title (Z - A)
                            option(value='title-asc') Title (A - Z)

                .col-4
                    button(type="submit" class="btn btn-light" sort-reset) Reset

