extends ../../layout/login
include ../../mixins/box-head
include ../../../admin/mixins/filter-status
include ../../../admin/mixins/search
include ../../../admin/mixins/sort
include ../../../admin/mixins/pagination
include ../../../admin/mixins/flash-message

block main
    +flash-message-success(2000)
    +flash-message-error(2000)
    section(class='p-3 p-md-4 p-xl-5')
        .row
            .col-3
            .col-6.bsb-tpl-bg-lotion
                .p-3.p-md-4.p-xl-5
                    .row
                        .col-12
                            .mb-5
                                h2.h3 Reset Password
                                h3.fs-6.fw-normal.text-secondary.m-0 Enter your details to reset password
                    form(
                        action=`/user/password/reset?_method=POST`,
                        method='POST'
                    )
                        .row.gy-3.gy-md-4.overflow-hidden
                            .col-12
                                label.form-label(for='password')
                                    | Password
                                    span.text-danger *
                                input#password.form-control(type='password', name='password', required='')
                            .col-12
                                label.form-label(for='confirmPassword')
                                    | Confirm Password
                                    span.text-danger *
                                input#confirmPassword.form-control(type='password', name='confirmPassword', required='')
                            .col-12
                                .d-grid
                                    button.btn.bsb-btn-xl.btn-primary(type='submit') Reset Password
                            input#token(type='hidden', name='token', value=data.token)
                            input#id(type='hidden', name='id', value=data.id)
                    .rows
                        .col-12
                            hr.mt-5.border-secondary-subtle
                            p.m-0.text-secondary.text-end
