header.header
    .container-fluid
        .row.align-items-center
            .col-3
                .inner-logo
                    a(href=`${prefixAdmin}`)
                        img(src="/images/logo.jpg", alt="Logo")
            .col-9